* {
  margin: 0px;
  padding: 0px; }

@media (max-width: 768px) {
  header, main, footer {
    font-size: small; } }

body {
  font-family: "Merriweather", serif;
  margin: 5px; }

.background {
  background-color: #e6e6fa; }

nav ul li a {
  text-decoration: none; }

nav ul li a:hover {
  background-color: #e6e6fa; }

div a {
  text-decoration: none;
  color: #000000; }

div a:hover {
  color: #000000; }

.fondo {
  background-color: #d8bfd8; }

/* Main Index */
article .animacion:hover {
  transform: scale(1.01); }

.fontDestacados {
  font-size: large;
  font-weight: bold; }

/* Main Login */
.bgMain {
  background-color: #FFCCBC; }

#errorContrasenia {
  color: #ff0000; }

.fontFormulario {
  font-size: x-large; }

/* Main Secciones*/
.padding {
  padding-left: 0px;
  padding-right: 0px; }

.fontMenuLateral {
  font-size: medium; }

/* Main carrito */
#vaciarCarrito {
  display: none; }

#totalCarrito {
  float: right; }

#myProgress {
  width: 25%;
  background-color: #ddd; }

#recargado, #titulo {
  display: none; }

#myBar {
  width: 1%;
  height: 20px;
  background-color: #04AA6D; }

footer section {
  border-radius: 5px;
  background-color: #FFCCBC;
  border: 2px solid #cacaca; }

footer {
  background-image: linear-gradient(#e6e6fa, #bdbdbd); }

#errorMailSuscripcion {
  color: #ff0000; }

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
  font-size: 17px; }

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
