/* Main Index */
article {
  .animacion:hover {
    transform: scale(1.01);
  }
}

.fontDestacados {
  @include fontsize(large);
  font-weight: bold;
}

/* Main Secciones*/
.fontMenuLateral {
  @include fontsize(medium);
}

/* cartel hotsale */
#myProgress {
  width: 25%;
  background-color: #ddd;
}

#recargado,
#titulo {
  display: none;
}

#myBar {
  width: 1%;
  height: 20px;
  background-color: #04aa6d;
}

/* productos carrito */
.tamanio {
  height: auto;
  width: 50rem;
}

.sizeProducto {
  height: auto;
  width: 8rem;
}
